.signUp-container {
  text-align: center;
}
.signUp-form-container {
  display: flex;
  flex-direction: column;
  padding: 3% 35% 3% 35%;
}
input {
  padding: 0.35vw;
  border-radius: 0.4vw;
  margin: 0.4%;
}
button {
  width: 5vw;
  height: 2.4vw;
  border-radius: 0.4vw;
  font-size: 1vw;
  padding: 0.35vw;
  margin: 11.2vw 0.4vw 0.4vw 0.4vw;
  place-self: center;
  background-color: white;
}
p {
  font-size: 1.2vw;
  color: red;
  margin-top: 0%;
}
