.home-container {
  width: 94%;
  justify-content: center;
  text-align: center;
  /* background-color: aliceblue; */
  opacity: 0.8;
  margin-top: 1%;
  margin-left: 2%;
  padding: 1%;
}

.post-section {
  text-align: left !important;
  margin: 2% 2% 6% 2%;
  background-color: aliceblue;
  padding: 1.6%;
  opacity: 0.8;
  border: 1px solid #0862d8;
}

.post-author {
  color: #457fca;
  font-size: 3vh;
  margin: 1.5%;
  padding: 1.5% 1% 1% 1%;
  cursor: pointer;
}

.post-text {
  font-size: 1.8vh;
  margin: 1.5%;
  padding: 1.5% 1% 1% 1%;
  color: black;
}

.post-like-btn,
.post-comment-btn,
.post-share-btn {
  color: #003c8a;
  text-decoration: none;
  width: 28%;
  margin: 2.5%;
  cursor: pointer;
  border: 0;
  font-size: 2vh;
}

.post-like-btn:hover,
.post-comment-btn:hover,
.post-share-btn:hover {
  background-color: #7f8fc5;
}

.add-comment {
  text-decoration: none;
  width: 92.5%;
  margin: 2.5%;
  cursor: pointer;
  border: 1px solid #003c8a;
  font-size: 2vh;
  padding: 1vh;
}

.show-comment {
  font-size: 1.5vh;
  text-decoration: none;
  cursor: pointer;
  margin: 2.5%;
}

.comment {
  font-size: 1.8vh;
  text-decoration: none;
  cursor: pointer;
  margin: 2.5%;
  color: black;
}
